# Application Programming InterFace(API)

## API definition
- Application program interfaces or APIS, are commonly used to retrieve data from remote websites
- to use an API, you make a request to a remote web server, and retrieve the data you need
-

## Why use API
- Quickly changing data

- in case you want a small piece of a much larger dataset .EG-twiter

## Commuication Protocols
- FTP (File Transfer Protocol): Chuyển file qua mạng.
- SFTP (Secure File Transfer Protocol): Phiên bản bảo mật của FTP.
- SMTP (Simple Mail Transfer Protocol): Gửi email.
- HTTP (Hyper Text Transfer Protocol): Giao thức phổ biến cho web API.
- HTTPS (Secure HTTP): Phiên bản bảo mật của HTTP (mã hóa SSL/TLS).

## HTTP Request Methods
- POST - Create
- GET - Read
- PUT - UPdate
- Delete - delete

## API Request
- in order to get the data, we make a HTTP request to a webserver
- the server then replies with our data
- in PYthon, we'll use the request module to do this
- there are many different types of requests
- the most commonly used one, a GET requests, is used to retrieve data
-

## How do you send a request to open Google Home page?
- step1 - open browser
- step2 -  Type Google.com in the URL section
- enter
-

In [4]:
# import requests
# URL = "google.com"

# response = requests.get(URL)

In [2]:
# Response - Status Code

# 1xx - Info
# 2xx - Success
# 3xx - Redirection
# 4xx - Client Error
# 5xx - Server Error

# Request and response from GG web server

In [6]:
import requests
response = requests.get("https://google.com/search?q=thataiguy")

print(response)
print(response.headers)

<Response [200]>
{'Content-Type': 'text/html; charset=ISO-8859-1', 'Content-Security-Policy': "object-src 'none';base-uri 'self';script-src 'nonce-APMpk5MTP_r-E_NNiIAALg' 'strict-dynamic' 'report-sample' 'unsafe-eval' 'unsafe-inline' https: http:;report-uri https://csp.withgoogle.com/csp/gws/xsrp", 'Accept-CH': 'Sec-CH-Prefers-Color-Scheme', 'P3P': 'CP="This is not a P3P policy! See g.co/p3phelp for more info."', 'Content-Encoding': 'gzip', 'Date': 'Mon, 04 Aug 2025 11:14:16 GMT', 'Server': 'gws', 'X-XSS-Protection': '0', 'X-Frame-Options': 'SAMEORIGIN', 'Expires': 'Mon, 04 Aug 2025 11:14:16 GMT', 'Cache-Control': 'private', 'Set-Cookie': 'AEC=AVh_V2jgEfVMdHTW-OI3mGN3qQHgsgK0HNb74_-pR4b6FwS72I5pOwEC5-o; expires=Sat, 31-Jan-2026 11:14:16 GMT; path=/; domain=.google.com; Secure; HttpOnly; SameSite=lax, NID=525=FMZm8JJzMuzf8Ry2m8xBAnBqmo-25ms3bzrB9dwgga40qzGdk9FQewAevDM4r4GfbRfXw2WKjYsrn09COSvmDN1vRbSmFdFqJx4qVRiC7Oj5uYbJwoSYvItLFTjj75gDxOXz6GpvNMdCEJ-AkmeW8mFP77NNPycBw9K6JvI68wVdDbCON-G2sCUuEk8PPEQnSwi1t8GJcgYiQgk; expires=Tue, 03-Feb-2026 11:14:16 GMT; path=/; domain=.google.com; HttpOnly', 'Alt-Svc': 'h3=":443"; ma=2592000,h3-29=":443"; ma=2592000', 'Transfer-Encoding': 'chunked'}

In [7]:
print(response.url)

https://www.google.com/search?q=thataiguy

In [8]:
print(response.status_code)

200

In [9]:
print(response.encoding)

ISO-8859-1

In [10]:
# check the response content type
print(response.headers["Content-Type"])

text/html; charset=ISO-8859-1

In [12]:
# text response Content
print(response.text[0:100]) # trả vể kí tự từ 0 đến 99
print(response.content[:100])

<!DOCTYPE html><html lang="vi"><head><title>Google Search</title><style>body{background-color:#fff}<
b'<!DOCTYPE html><html lang="vi"><head><title>Google Search</title><style>body{background-color:#fff}<'

# Status Code 
# 1xx – Informational (Thông tin)
# 2xx – Success (Thành công)
# 3xx – Redirection (Chuyển hướng)
# 4xx – Client Error (Lỗi từ phía client)
# 5xx – Server Error (Lỗi từ phía serve)
- 100 Continue : máy chủ đã nhận phần đầu của yeu cầu, tiếp tục gửi phần còn lại
- 101 Switching Protocols -  chuyển đổi giao thức theo yêu cầu của client(ví dụ từ HTTP sang WebSocket)
- 200 OK : thành công, trả về dữ liệu (thường dùng nhất)
- 201 Created : đã tạo tài nguyên mới thành công (Ví dụ Post tạo user mới)
- 204 No Content : Thành công nhưng không có dữ liệu trả về(ví dụ xóa tài nguyên)
- 301 Moved Permanently - URL được chuuyeern hẳn sang địa chỉ mới
- 302 Found : URL tạm thời chuyển hươngs
- 304 Not Modified - Dữ liệu chưa thay đổi , dùng dữ liệu Cache
- 400 Bad Request : yêu cầu k hợp lệ (thiếu tham số, JSON sai Format)
- 401 Unauthorized :  chưa xác thực hoặc token sai
- 403 Forbidden: đã xác thực nhưng kc ó quyền truy cập
- 404 NOT FOund: không tìm thấy tài nguyên
- 500 internal server Erroe - lỗi chungc ủa server
- 502 Bad GateWay - GateWay nhận phản hồi lỗi từ upstream server
- 503 Service Unavailable - dịch vụ đang bảo trì hoặc đang quá tải
- 504 Gateway Timeour P: hết thời gian chờ từ upstream(

In [14]:
# try the endpoiint
response = requests.get("https://google.com/abcd")
print(response.status_code)
# NOT FOUND

404

In [15]:

response = requests.get("https://google.com/search")

print(response.status_code)
# OK

200

# Query Parameters giúp mình tìm kiếm dữ liệu nhanh hơn đỡ phải vào server chính

In [16]:
parameters = {"q": "Kanav Bansal"}

# Request with query parameter
response = requests.get("https://google.com/search", params=parameters)

print(response.status_code)

200

# Request và response khi gọi International Space Station (Iss) API
- http://api.open-notify.org/iss-now.json
- mục đích trả về vị trí hiện tại của trạm vũ trụ ISS

In [17]:
response = requests.get("http://api.open-notify.org/iss-now.json")
print(response.headers)

{'Server': 'nginx/1.10.3', 'Date': 'Mon, 04 Aug 2025 11:34:17 GMT', 'Content-Type': 'application/json', 'Content-Length': '112', 'Connection': 'keep-alive', 'access-control-allow-origin': '*'}

In [18]:
# Check the response content type

print(response.headers['Content-Type'])

application/json

In [19]:
# Check the response URL

print(response.url)

http://api.open-notify.org/iss-now.json

In [20]:
# Check the status code of the response

print(response.status_code)

200

In [21]:
# Check the response encoding

print(response.encoding)

utf-8

In [22]:
# Text Response Content
# This is useful if the response body contains text data

print(response.text)

{"message": "success", "timestamp": 1754307257, "iss_position": {"latitude": "2.4667", "longitude": "-57.2039"}}

In [23]:
# JSON Response Content
# This is useful if the response body contains JSON data

print(response.json())

{'message': 'success', 'timestamp': 1754307257, 'iss_position': {'latitude': '2.4667', 'longitude': '-57.2039'}}

# Are there people in Space Right Now?

In [25]:
# /astros.json endpoint

# This API returns the current number of people in space.
# When known it also returns the names and spacecraft those people are on.

In [29]:
response = requests.get("http://api.open-notify.org/astros.json")

print(response.headers["Content-Type"])
# Get the response data as a python object. Verify that it's a dictionary.
data = response.json()

print(json.dumps(data,indent = 4))

application/json
{
    "people": [
        {
            "craft": "ISS",
            "name": "Oleg Kononenko"
        },
        {
            "craft": "ISS",
            "name": "Nikolai Chub"
        },
        {
            "craft": "ISS",
            "name": "Tracy Caldwell Dyson"
        },
        {
            "craft": "ISS",
            "name": "Matthew Dominick"
        },
        {
            "craft": "ISS",
            "name": "Michael Barratt"
        },
        {
            "craft": "ISS",
            "name": "Jeanette Epps"
        },
        {
            "craft": "ISS",
            "name": "Alexander Grebenkin"
        },
        {
            "craft": "ISS",
            "name": "Butch Wilmore"
        },
        {
            "craft": "ISS",
            "name": "Sunita Williams"
        },
        {
            "craft": "Tiangong",
            "name": "Li Guangsu"
        },
        {
            "craft": "Tiangong",
            "name": "Li Cong"
        },
        {
            "craft": "Tiangong",
            "name": "Ye Guangfu"
        }
    ],
    "number": 12,
    "message": "success"
}

In [27]:
print(response.headers)

{'Server': 'nginx/1.10.3', 'Date': 'Mon, 04 Aug 2025 11:36:18 GMT', 'Content-Type': 'application/json', 'Content-Length': '587', 'Connection': 'keep-alive', 'access-control-allow-origin': '*'}

In [28]:
# Get the response data as a python object. Verify that it's a dictionary.
data = response.json()

print(json.dumps(data,indent = 4))

{
    "people": [
        {
            "craft": "ISS",
            "name": "Oleg Kononenko"
        },
        {
            "craft": "ISS",
            "name": "Nikolai Chub"
        },
        {
            "craft": "ISS",
            "name": "Tracy Caldwell Dyson"
        },
        {
            "craft": "ISS",
            "name": "Matthew Dominick"
        },
        {
            "craft": "ISS",
            "name": "Michael Barratt"
        },
        {
            "craft": "ISS",
            "name": "Jeanette Epps"
        },
        {
            "craft": "ISS",
            "name": "Alexander Grebenkin"
        },
        {
            "craft": "ISS",
            "name": "Butch Wilmore"
        },
        {
            "craft": "ISS",
            "name": "Sunita Williams"
        },
        {
            "craft": "Tiangong",
            "name": "Li Guangsu"
        },
        {
            "craft": "Tiangong",
            "name": "Li Cong"
        },
        {
            "craft": "Tiangong",
            "name": "Ye Guangfu"
        }
    ],
    "number": 12,
    "message": "success"
}

In [30]:
data

{'people': [{'craft': 'ISS', 'name': 'Oleg Kononenko'},
  {'craft': 'ISS', 'name': 'Nikolai Chub'},
  {'craft': 'ISS', 'name': 'Tracy Caldwell Dyson'},
  {'craft': 'ISS', 'name': 'Matthew Dominick'},
  {'craft': 'ISS', 'name': 'Michael Barratt'},
  {'craft': 'ISS', 'name': 'Jeanette Epps'},
  {'craft': 'ISS', 'name': 'Alexander Grebenkin'},
  {'craft': 'ISS', 'name': 'Butch Wilmore'},
  {'craft': 'ISS', 'name': 'Sunita Williams'},
  {'craft': 'Tiangong', 'name': 'Li Guangsu'},
  {'craft': 'Tiangong', 'name': 'Li Cong'},
  {'craft': 'Tiangong', 'name': 'Ye Guangfu'}],
 'number': 12,
 'message': 'success'}

In [31]:
data.keys()

dict_keys(['people', 'number', 'message'])

In [32]:
print(data['number'])

12

In [33]:
print(data["people"])

[{'craft': 'ISS', 'name': 'Oleg Kononenko'}, {'craft': 'ISS', 'name': 'Nikolai Chub'}, {'craft': 'ISS', 'name': 'Tracy Caldwell Dyson'}, {'craft': 'ISS', 'name': 'Matthew Dominick'}, {'craft': 'ISS', 'name': 'Michael Barratt'}, {'craft': 'ISS', 'name': 'Jeanette Epps'}, {'craft': 'ISS', 'name': 'Alexander Grebenkin'}, {'craft': 'ISS', 'name': 'Butch Wilmore'}, {'craft': 'ISS', 'name': 'Sunita Williams'}, {'craft': 'Tiangong', 'name': 'Li Guangsu'}, {'craft': 'Tiangong', 'name': 'Li Cong'}, {'craft': 'Tiangong', 'name': 'Ye Guangfu'}]

In [34]:
people_in_space = data["people"]

for astronaut in people_in_space:
    print(astronaut['name'])
# name of people

Oleg Kononenko
Nikolai Chub
Tracy Caldwell Dyson
Matthew Dominick
Michael Barratt
Jeanette Epps
Alexander Grebenkin
Butch Wilmore
Sunita Williams
Li Guangsu
Li Cong
Ye Guangfu

# Converting the JSON data from API to DataFrame

In [35]:
import requests
import pandas as pd

In [36]:
# Way 1

# Using "requests" library make a HTTP request to "/astros.json" endpoint
response = requests.get("http://api.open-notify.org/astros.json")

# Retrieve the data from the "response"
data = response.json()

# Push data to dataframe
df = pd.DataFrame(data)

df

                                              people  number  message
0         {'craft': 'ISS', 'name': 'Oleg Kononenko'}      12  success
1           {'craft': 'ISS', 'name': 'Nikolai Chub'}      12  success
2   {'craft': 'ISS', 'name': 'Tracy Caldwell Dyson'}      12  success
3       {'craft': 'ISS', 'name': 'Matthew Dominick'}      12  success
4        {'craft': 'ISS', 'name': 'Michael Barratt'}      12  success
5          {'craft': 'ISS', 'name': 'Jeanette Epps'}      12  success
6    {'craft': 'ISS', 'name': 'Alexander Grebenkin'}      12  success
7          {'craft': 'ISS', 'name': 'Butch Wilmore'}      12  success
8        {'craft': 'ISS', 'name': 'Sunita Williams'}      12  success
9        {'craft': 'Tiangong', 'name': 'Li Guangsu'}      12  success
10          {'craft': 'Tiangong', 'name': 'Li Cong'}      12  success
11       {'craft': 'Tiangong', 'name': 'Ye Guangfu'}      12  success

In [37]:
astronaut = pd.DataFrame(data['people'])
astronaut

       craft                  name
0        ISS        Oleg Kononenko
1        ISS          Nikolai Chub
2        ISS  Tracy Caldwell Dyson
3        ISS      Matthew Dominick
4        ISS       Michael Barratt
5        ISS         Jeanette Epps
6        ISS   Alexander Grebenkin
7        ISS         Butch Wilmore
8        ISS       Sunita Williams
9   Tiangong            Li Guangsu
10  Tiangong               Li Cong
11  Tiangong            Ye Guangfu

## Way2 - Using pd.json_normalizze()

In [38]:
# Way 2

# Using "requests" library make a HTTP request to "/astros.json" endpoint
response = requests.get("http://api.open-notify.org/astros.json")

# Retrieve the data from the "response"
data = response.json()

# Use "json_normalize()" to normalize JSON data into flat table
df = pd.json_normalize(data)

df

                                              people  number  message
0  [{'craft': 'ISS', 'name': 'Oleg Kononenko'}, {...      12  success

In [40]:
# # This is not the expected outcome
# # Fixing way 2

# Using "requests" library make a HTTP request to "/astros.json" endpoint
response = requests.get("http://api.open-notify.org/astros.json")

# Retrieve the data from the "response"
data = response.json()

# Convert JSON data to DataFrame
astronauts = pd.json_normalize(data, record_path=['people'], meta = ['number', 'message'])

astronauts

       craft                  name number  message
0        ISS        Oleg Kononenko     12  success
1        ISS          Nikolai Chub     12  success
2        ISS  Tracy Caldwell Dyson     12  success
3        ISS      Matthew Dominick     12  success
4        ISS       Michael Barratt     12  success
5        ISS         Jeanette Epps     12  success
6        ISS   Alexander Grebenkin     12  success
7        ISS         Butch Wilmore     12  success
8        ISS       Sunita Williams     12  success
9   Tiangong            Li Guangsu     12  success
10  Tiangong               Li Cong     12  success
11  Tiangong            Ye Guangfu     12  success

## Way 3

In [41]:
# Way 3

df = pd.read_json("http://api.open-notify.org/astros.json")

df

                                              people  number  message
0         {'craft': 'ISS', 'name': 'Oleg Kononenko'}      12  success
1           {'craft': 'ISS', 'name': 'Nikolai Chub'}      12  success
2   {'craft': 'ISS', 'name': 'Tracy Caldwell Dyson'}      12  success
3       {'craft': 'ISS', 'name': 'Matthew Dominick'}      12  success
4        {'craft': 'ISS', 'name': 'Michael Barratt'}      12  success
5          {'craft': 'ISS', 'name': 'Jeanette Epps'}      12  success
6    {'craft': 'ISS', 'name': 'Alexander Grebenkin'}      12  success
7          {'craft': 'ISS', 'name': 'Butch Wilmore'}      12  success
8        {'craft': 'ISS', 'name': 'Sunita Williams'}      12  success
9        {'craft': 'Tiangong', 'name': 'Li Guangsu'}      12  success
10          {'craft': 'Tiangong', 'name': 'Li Cong'}      12  success
11       {'craft': 'Tiangong', 'name': 'Ye Guangfu'}      12  success

In [42]:
# We don't need message and number column. We want two columns with Person Name and Craft. 
# Fixing way 3

# Convert JSON data to DataFrame
astronauts = pd.json_normalize(df['people'])

astronauts

       craft                  name
0        ISS        Oleg Kononenko
1        ISS          Nikolai Chub
2        ISS  Tracy Caldwell Dyson
3        ISS      Matthew Dominick
4        ISS       Michael Barratt
5        ISS         Jeanette Epps
6        ISS   Alexander Grebenkin
7        ISS         Butch Wilmore
8        ISS       Sunita Williams
9   Tiangong            Li Guangsu
10  Tiangong               Li Cong
11  Tiangong            Ye Guangfu

## Working with JSON
- Converting Python Objects to JSON and vice versa using dumps() and loads()
- Saving the data to JSON Files and vice versa using dump and load()
-

In [1]:
import json

# make a list
sup_hero = ['Shaktiman', 'Krish', 'Flying Jatt', 'Bhavesh Joshi']
# Checking the type of "sup_hero"
print(type(sup_hero)) 

print(sup_hero)

<class 'list'>
['Shaktiman', 'Krish', 'Flying Jatt', 'Bhavesh Joshi']

In [2]:
# Use json.dumps() to convert "sup_hero" to a string

sup_hero_str = json.dumps(sup_hero)

print(type(sup_hero_str))
print(sup_hero_str)

<class 'str'>
["Shaktiman", "Krish", "Flying Jatt", "Bhavesh Joshi"]

In [4]:
sup_hero_lst = json.loads(sup_hero_str)

print(type(sup_hero_lst))
print(sup_hero_lst)
# khi sử dụng loads ddeer đọc JSON String thì nó trả về list

<class 'list'>
['Shaktiman', 'Krish', 'Flying Jatt', 'Bhavesh Joshi']

### Dumps() and Loads() on Python Dictionary

In [5]:
# Make a dictionary
fast_food_franchise = {
    "Subway": 24722,
    "McDonalds": 14098,
    "Starbucks": 10821,
    "Pizza Hut": 7600
}

print(type(fast_food_franchise))

print(fast_food_franchise)

<class 'dict'>
{'Subway': 24722, 'McDonalds': 14098, 'Starbucks': 10821, 'Pizza Hut': 7600}

In [7]:
# we can also dump a dictionary to a string and load it

fast_food_franchise_str = json.dumps(fast_food_franchise)

print(type(fast_food_franchise_str))

print(fast_food_franchise_str)

<class 'str'>
{"Subway": 24722, "McDonalds": 14098, "Starbucks": 10821, "Pizza Hut": 7600}

In [8]:
fast_food_franchise_lst = json.loads(fast_food_franchise_str)

print(type(fast_food_franchise_lst))

print(fast_food_franchise_lst)

# khi đọc dict thì nó sẽ trả về dict

<class 'dict'>
{'Subway': 24722, 'McDonalds': 14098, 'Starbucks': 10821, 'Pizza Hut': 7600}

### dumps() and loads() on Python tuple()

In [9]:
tup = ('Kanav', "Bansal", "Data Science")

print(type(tup))

print(tup)

<class 'tuple'>
('Kanav', 'Bansal', 'Data Science')

In [10]:
# convert tuple to string
tup_str = json.dumps(tup)

print(type(tup_str))
print(tup_str)

<class 'str'>
["Kanav", "Bansal", "Data Science"]

In [11]:
tup_lst = json.loads(tup_str)

print(type(tup_lst))

print(tup_lst)
# Remeber loads() function converts JSON string to Python String, List or Dictionary

<class 'list'>
['Kanav', 'Bansal', 'Data Science']

In [12]:
# sử dụng load có thể biến đổi JSON string thành Python string, List or dict

### Dump() and Load()

In [13]:
# json.dump(data, file_object)
# json.load(file_object)

In [15]:
with open("C:/Users/Admin/OneDrive - ptit.edu.vn/Desktop/File JSON/Web API/fast_food.json", "w") as file:
    json.dump(fast_food_franchise, file)

In [16]:
with open("C:/Users/Admin/OneDrive - ptit.edu.vn/Desktop/File JSON/Web API/sup_hero.json", "w") as file:
    json.dump(sup_hero, file)

In [17]:
with open("C:/Users/Admin/OneDrive - ptit.edu.vn/Desktop/File JSON/Web API/sup_hero.json", "r") as file:
    data = json.load(file)

print(data)
print(type(data))

['Shaktiman', 'Krish', 'Flying Jatt', 'Bhavesh Joshi']
<class 'list'>