In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("C:/Users/Admin/OneDrive - ptit.edu.vn/Desktop/car_data.csv")

In [5]:
df.head()

,Car ID,Symboling,Car Name,Fuel Type,Aspiration,Door Number,Car Body,Drive Wheel,Engine Location,Wheel Base,...,Engine Size,Fuel System,Bore Ratio,Stroke,Compression Ratio,Horse Power,Peak RPM,City MPG,Highway MPG,Price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5K,21,27,13495
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5K,21,27,16500
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5K,19,26,16500
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [6]:
df.columns

Index(['Car ID', 'Symboling', 'Car Name', 'Fuel Type', 'Aspiration',
       'Door Number', 'Car Body', 'Drive Wheel', 'Engine Location',
       'Wheel Base', 'Car Length', 'Car Width', 'Car Height', 'Curb Weight',
       'Engine Type', 'Cylinder Number', 'Engine Size', 'Fuel System',
       'Bore Ratio', 'Stroke', 'Compression Ratio', 'Horse Power', 'Peak RPM',
       'City MPG', 'Highway MPG', 'Price'],
      dtype='object')

In [7]:
df.info

<bound method DataFrame.info of      Car ID  Symboling                  Car Name Fuel Type Aspiration  \
0         1          3        alfa-romero giulia       gas        std
1         2          3       alfa-romero stelvio       gas        std
2         3          1  alfa-romero Quadrifoglio       gas        std
3         4          2               audi 100 ls       gas        std
4         5          2                audi 100ls       gas        std
..      ...        ...                       ...       ...        ...
200     201         -1           volvo 145e (sw)       gas        std
201     202         -1               volvo 144ea       gas      turbo
202     203         -1               volvo 244dl       gas        std
203     204         -1                 volvo 246    diesel      turbo
204     205         -1               volvo 264gl       gas      turbo

    Door Number     Car Body Drive Wheel Engine Location  Wheel Base  ...  \
0           two  convertible         rwd           front        88.6  ...
1           two  convertible         rwd           front        88.6  ...
2           two    hatchback         rwd           front        94.5  ...
3          four        sedan         fwd           front        99.8  ...
4          four        sedan         4wd           front        99.4  ...
..          ...          ...         ...             ...         ...  ...
200        four        sedan         rwd           front       109.1  ...
201        four        sedan         rwd           front       109.1  ...
202        four        sedan         rwd           front       109.1  ...
203        four        sedan         rwd           front       109.1  ...
204        four        sedan         rwd           front       109.1  ...

     Engine Size  Fuel System  Bore Ratio  Stroke Compression Ratio  \
0            130         mpfi        3.47    2.68               9.0
1            130         mpfi        3.47    2.68               9.0
2            152         mpfi        2.68    3.47               9.0
3            109         mpfi        3.19    3.40              10.0
4            136         mpfi        3.19    3.40               8.0
..           ...          ...         ...     ...               ...
200          141         mpfi        3.78    3.15               9.5
201          141         mpfi        3.78    3.15               8.7
202          173         mpfi        3.58    2.87               8.8
203          145          idi        3.01    3.40              23.0
204          141         mpfi        3.78    3.15               9.5

    Horse Power  Peak RPM City MPG  Highway MPG  Price
0           111        5K       21           27  13495
1           111        5K       21           27  16500
2           154        5K       19           26  16500
3           102      5500       24           30  13950
4           115      5500       18           22  17450
..          ...       ...      ...          ...    ...
200         114     5,400       23           28  16845
201         160      5300       19           25  19045
202         134      5500       18           23  21485
203         106      4800       26           27  22470
204         114     5,400       19           25  22625

[205 rows x 26 columns]>

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Car ID             205 non-null    int64
 1   Symboling          205 non-null    int64
 2   Car Name           205 non-null    object
 3   Fuel Type          205 non-null    object
 4   Aspiration         205 non-null    object
 5   Door Number        205 non-null    object
 6   Car Body           205 non-null    object
 7   Drive Wheel        205 non-null    object
 8   Engine Location    205 non-null    object
 9   Wheel Base         205 non-null    float64
 10  Car Length         205 non-null    float64
 11  Car Width          205 non-null    float64
 12  Car Height         205 non-null    float64
 13  Curb Weight        205 non-null    int64
 14  Engine Type        205 non-null    object
 15  Cylinder Number    205 non-null    object
 16  Engine Size        205 non-null    int64
 17  Fuel System        205 non-null    object
 18  Bore Ratio         205 non-null    float64
 19  Stroke             205 non-null    float64
 20  Compression Ratio  205 non-null    float64
 21  Horse Power        205 non-null    int64
 22  Peak RPM           205 non-null    object
 23  City MPG           205 non-null    int64
 24  Highway MPG        205 non-null    int64
 25  Price              205 non-null    object
dtypes: float64(7), int64(7), object(12)
memory usage: 41.8+ KB

In [9]:
col_names = [col.lower().replace(" ","_") for col in df.columns]
col_names

['car_id',
 'symboling',
 'car_name',
 'fuel_type',
 'aspiration',
 'door_number',
 'car_body',
 'drive_wheel',
 'engine_location',
 'wheel_base',
 'car_length',
 'car_width',
 'car_height',
 'curb_weight',
 'engine_type',
 'cylinder_number',
 'engine_size',
 'fuel_system',
 'bore_ratio',
 'stroke',
 'compression_ratio',
 'horse_power',
 'peak_rpm',
 'city_mpg',
 'highway_mpg',
 'price']

In [10]:
df.columns = col_names

In [11]:
df.head()

,car_id,symboling,car_name,fuel_type,aspiration,door_number,car_body,drive_wheel,engine_location,wheel_base,...,engine_size,fuel_system,bore_ratio,stroke,compression_ratio,horse_power,peak_rpm,city_mpg,highway_mpg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5K,21,27,13495
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5K,21,27,16500
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5K,19,26,16500
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   car_id             205 non-null    int64
 1   symboling          205 non-null    int64
 2   car_name           205 non-null    object
 3   fuel_type          205 non-null    object
 4   aspiration         205 non-null    object
 5   door_number        205 non-null    object
 6   car_body           205 non-null    object
 7   drive_wheel        205 non-null    object
 8   engine_location    205 non-null    object
 9   wheel_base         205 non-null    float64
 10  car_length         205 non-null    float64
 11  car_width          205 non-null    float64
 12  car_height         205 non-null    float64
 13  curb_weight        205 non-null    int64
 14  engine_type        205 non-null    object
 15  cylinder_number    205 non-null    object
 16  engine_size        205 non-null    int64
 17  fuel_system        205 non-null    object
 18  bore_ratio         205 non-null    float64
 19  stroke             205 non-null    float64
 20  compression_ratio  205 non-null    float64
 21  horse_power        205 non-null    int64
 22  peak_rpm           205 non-null    object
 23  city_mpg           205 non-null    int64
 24  highway_mpg        205 non-null    int64
 25  price              205 non-null    object
dtypes: float64(7), int64(7), object(12)
memory usage: 41.8+ KB

In [13]:
# đếm số xe
df.car_name.value_counts()

car_name
toyota corona           6
toyota corolla          6
peugeot 504             6
subaru dl               4
mitsubishi mirage g4    3
                       ..
mazda glc 4             1
mazda rx2 coupe         1
maxda glc deluxe        1
maxda rx3               1
volvo 246               1
Name: count, Length: 147, dtype: int64

In [14]:
df.door_number.value_counts()

door_number
four    114
two      90
?         1
Name: count, dtype: int64

In [15]:
df.peak_rpm.value_counts()

peak_rpm
5500     36
4800     36
5K       27
5200     21
5400     10
6K        9
4500      7
5250      7
5800      7
5100      5
4150      5
4200      5
4750      4
4350      4
5,400     3
4250      3
5900      3
4400      3
5,200     2
6600      2
4900      1
5,500     1
5750      1
5600      1
4650      1
5300      1
Name: count, dtype: int64

In [16]:
# Crosstab làm bằng chéo
pd.crosstab(df['door_number'], df['car_body'])

car_body     convertible  hardtop  hatchback  sedan  wagon
door_number
?                      0        0          0      0      1
four                   0        0         10     80     24
two                    6        8         60     16      0

In [17]:
pd.crosstab(df['door_number'], df['fuel_type'])

fuel_type    diesel  gas
door_number
?                 0    1
four             17   97
two               3   87

In [18]:

pd.crosstab(df['door_number'], df['engine_location'])

engine_location  front  rear
door_number
?                    1     0
four               114     0
two                 87     3

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   car_id             205 non-null    int64
 1   symboling          205 non-null    int64
 2   car_name           205 non-null    object
 3   fuel_type          205 non-null    object
 4   aspiration         205 non-null    object
 5   door_number        205 non-null    object
 6   car_body           205 non-null    object
 7   drive_wheel        205 non-null    object
 8   engine_location    205 non-null    object
 9   wheel_base         205 non-null    float64
 10  car_length         205 non-null    float64
 11  car_width          205 non-null    float64
 12  car_height         205 non-null    float64
 13  curb_weight        205 non-null    int64
 14  engine_type        205 non-null    object
 15  cylinder_number    205 non-null    object
 16  engine_size        205 non-null    int64
 17  fuel_system        205 non-null    object
 18  bore_ratio         205 non-null    float64
 19  stroke             205 non-null    float64
 20  compression_ratio  205 non-null    float64
 21  horse_power        205 non-null    int64
 22  peak_rpm           205 non-null    object
 23  city_mpg           205 non-null    int64
 24  highway_mpg        205 non-null    int64
 25  price              205 non-null    object
dtypes: float64(7), int64(7), object(12)
memory usage: 41.8+ KB

In [20]:
df.head()

,car_id,symboling,car_name,fuel_type,aspiration,door_number,car_body,drive_wheel,engine_location,wheel_base,...,engine_size,fuel_system,bore_ratio,stroke,compression_ratio,horse_power,peak_rpm,city_mpg,highway_mpg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5K,21,27,13495
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5K,21,27,16500
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5K,19,26,16500
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [21]:
df.head(30)

,car_id,symboling,car_name,fuel_type,aspiration,door_number,car_body,drive_wheel,engine_location,wheel_base,...,engine_size,fuel_system,bore_ratio,stroke,compression_ratio,horse_power,peak_rpm,city_mpg,highway_mpg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.00,111,5K,21,27,13495
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.00,111,5K,21,27,16500
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.00,154,5K,19,26,16500
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.00,102,5500,24,30,13950
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.00,115,5500,18,22,17450
5,6,2,audi fox,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.50,110,5500,19,25,15250
6,7,1,audi 100ls,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.50,110,5500,19,25,17710
7,8,1,audi 5000,gas,std,?,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.50,110,5500,19,25,18920
8,9,1,audi 4000,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.30,140,5500,17,20,23875
9,10,0,audi 5000s (diesel),gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.40,7.00,160,5500,16,22,17859.167
10,11,2,bmw 320i,gas,std,two,sedan,rwd,front,101.2,...,108,mpfi,3.50,2.80,8.80,101,5800,23,29,16430
11,12,0,bmw 320i,gas,std,four,sedan,rwd,front,101.2,...,108,mpfi,3.50,2.80,8.80,101,5800,23,29,16925
12,13,0,bmw x1,gas,std,two,sedan,rwd,front,101.2,...,164,mpfi,3.31,3.19,9.00,121,4250,21,28,20970
13,14,0,bmw x3,gas,std,four,sedan,rwd,front,101.2,...,164,mpfi,3.31,3.19,9.00,121,4250,21,28,21105
14,15,1,bmw z4,gas,std,four,sedan,rwd,front,103.5,...,164,mpfi,3.31,3.19,9.00,121,4250,20,25,24565
15,16,0,bmw x4,gas,std,four,sedan,rwd,front,103.5,...,209,mpfi,3.62,3.39,8.00,182,5400,16,22,30760
16,17,0,bmw x5,gas,std,two,sedan,rwd,front,103.5,...,209,mpfi,3.62,3.39,8.00,182,5400,16,22,41315
17,18,0,bmw x3,gas,std,four,sedan,rwd,front,110.0,...,209,mpfi,3.62,3.39,8.00,182,5400,15,20,36880
18,19,2,chevrolet impala,gas,std,two,hatchback,fwd,front,88.4,...,61,2bbl,2.91,3.03,9.50,48,5100,47,53,5151
19,20,1,chevrolet monte carlo,gas,std,two,hatchback,fwd,front,94.5,...,90,2bbl,3.03,3.11,9.60,70,5400,38,43,6295
20,21,0,chevrolet vega 2300,gas,std,four,sedan,fwd,front,94.5,...,90,2bbl,3.03,3.11,9.60,70,5400,38,43,6575
21,22,1,dodge rampage,gas,std,two,hatchback,fwd,front,93.7,...,90,2bbl,2.97,3.23,9.41,68,5500,37,41,5572
22,23,1,dodge challenger se,gas,std,two,hatchback,fwd,front,93.7,...,90,2bbl,2.97,3.23,9.40,68,5500,31,38,6377
23,24,1,dodge d200,gas,turbo,two,hatchback,fwd,front,93.7,...,98,mpfi,3.03,3.39,7.60,102,5500,24,30,7957
24,25,1,dodge monaco (sw),gas,std,four,hatchback,fwd,front,93.7,...,90,2bbl,2.97,3.23,9.40,68,5500,31,38,6229
25,26,1,dodge colt hardtop,gas,std,four,sedan,fwd,front,93.7,...,90,2bbl,2.97,3.23,9.40,68,5500,31,38,6692
26,27,1,dodge colt (sw),gas,std,four,sedan,fwd,front,93.7,...,90,2bbl,2.97,3.23,9.40,68,5500,31,38,7609
27,28,1,dodge coronet custom,gas,turbo,two,sedan,fwd,front,93.7,...,98,mpfi,3.03,3.39,7.60,102,5500,24,30,8558
28,29,-1,dodge dart custom,gas,std,four,wagon,fwd,front,103.3,...,122,2bbl,3.34,3.46,8.50,88,5K,24,30,8921
29,30,3,dodge coronet custom (sw),gas,turbo,two,hatchback,fwd,front,95.9,...,156,mfi,3.60,3.90,7.00,145,5K,19,24,12964

In [22]:
#inplace = False
# thì nó sẽ ghi đề bản hiện tạ 
# nghĩa là thay đổi trực tiếp trên DataFrame hiện tại

# inplace = true
# tạo bản sao mới

# regex = false(mặc định) thì nó thay đổi từ to_replace sang nguyên văn giá trị values
# regex = True nó thay đổi theo kiểu tiền tố hậu tố trung tố
# ví dụ tôi muốn biến tất cả từ có từ **tan** thành "tahnhtanhocPTIT"
df['door_number'].replace(to_replace ='?' , value = "four", regex =False, inplace = False)

0       two
1       two
2       two
3      four
4      four
       ...
200    four
201    four
202    four
203    four
204    four
Name: door_number, Length: 205, dtype: object

In [23]:
df['door_number'].value_counts()

door_number
four    114
two      90
?         1
Name: count, dtype: int64

In [24]:
df.head()

,car_id,symboling,car_name,fuel_type,aspiration,door_number,car_body,drive_wheel,engine_location,wheel_base,...,engine_size,fuel_system,bore_ratio,stroke,compression_ratio,horse_power,peak_rpm,city_mpg,highway_mpg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5K,21,27,13495
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5K,21,27,16500
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5K,19,26,16500
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [25]:
df['door_number'].apply(lambda x : 4 if x == 'four' else 2).value_counts()

door_number
4    114
2     91
Name: count, dtype: int64

In [26]:
df['door_number'].dtype

dtype('O')

In [27]:
df['door_number'] = df['door_number'].apply(lambda x : 4 if x == 'four' else 2)

In [28]:
df.head()

,car_id,symboling,car_name,fuel_type,aspiration,door_number,car_body,drive_wheel,engine_location,wheel_base,...,engine_size,fuel_system,bore_ratio,stroke,compression_ratio,horse_power,peak_rpm,city_mpg,highway_mpg,price
0,1,3,alfa-romero giulia,gas,std,2,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5K,21,27,13495
1,2,3,alfa-romero stelvio,gas,std,2,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5K,21,27,16500
2,3,1,alfa-romero Quadrifoglio,gas,std,2,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5K,19,26,16500
3,4,2,audi 100 ls,gas,std,4,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,5,2,audi 100ls,gas,std,4,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [29]:
# tôi muốn biến 2 4 thành dạng int
df['door_number'] = df['door_number'].astype('int')

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   car_id             205 non-null    int64
 1   symboling          205 non-null    int64
 2   car_name           205 non-null    object
 3   fuel_type          205 non-null    object
 4   aspiration         205 non-null    object
 5   door_number        205 non-null    int32
 6   car_body           205 non-null    object
 7   drive_wheel        205 non-null    object
 8   engine_location    205 non-null    object
 9   wheel_base         205 non-null    float64
 10  car_length         205 non-null    float64
 11  car_width          205 non-null    float64
 12  car_height         205 non-null    float64
 13  curb_weight        205 non-null    int64
 14  engine_type        205 non-null    object
 15  cylinder_number    205 non-null    object
 16  engine_size        205 non-null    int64
 17  fuel_system        205 non-null    object
 18  bore_ratio         205 non-null    float64
 19  stroke             205 non-null    float64
 20  compression_ratio  205 non-null    float64
 21  horse_power        205 non-null    int64
 22  peak_rpm           205 non-null    object
 23  city_mpg           205 non-null    int64
 24  highway_mpg        205 non-null    int64
 25  price              205 non-null    object
dtypes: float64(7), int32(1), int64(7), object(11)
memory usage: 41.0+ KB

## tôi muốn đổi 5k thành 5000 và 5,500 thành 5500

In [31]:
df.head(50)

,car_id,symboling,car_name,fuel_type,aspiration,door_number,car_body,drive_wheel,engine_location,wheel_base,...,engine_size,fuel_system,bore_ratio,stroke,compression_ratio,horse_power,peak_rpm,city_mpg,highway_mpg,price
0,1,3,alfa-romero giulia,gas,std,2,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.00,111,5K,21,27,13495
1,2,3,alfa-romero stelvio,gas,std,2,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.00,111,5K,21,27,16500
2,3,1,alfa-romero Quadrifoglio,gas,std,2,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.00,154,5K,19,26,16500
3,4,2,audi 100 ls,gas,std,4,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.00,102,5500,24,30,13950
4,5,2,audi 100ls,gas,std,4,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.00,115,5500,18,22,17450
5,6,2,audi fox,gas,std,2,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.50,110,5500,19,25,15250
6,7,1,audi 100ls,gas,std,4,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.50,110,5500,19,25,17710
7,8,1,audi 5000,gas,std,2,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.50,110,5500,19,25,18920
8,9,1,audi 4000,gas,turbo,4,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.30,140,5500,17,20,23875
9,10,0,audi 5000s (diesel),gas,turbo,2,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.40,7.00,160,5500,16,22,17859.167
10,11,2,bmw 320i,gas,std,2,sedan,rwd,front,101.2,...,108,mpfi,3.50,2.80,8.80,101,5800,23,29,16430
11,12,0,bmw 320i,gas,std,4,sedan,rwd,front,101.2,...,108,mpfi,3.50,2.80,8.80,101,5800,23,29,16925
12,13,0,bmw x1,gas,std,2,sedan,rwd,front,101.2,...,164,mpfi,3.31,3.19,9.00,121,4250,21,28,20970
13,14,0,bmw x3,gas,std,4,sedan,rwd,front,101.2,...,164,mpfi,3.31,3.19,9.00,121,4250,21,28,21105
14,15,1,bmw z4,gas,std,4,sedan,rwd,front,103.5,...,164,mpfi,3.31,3.19,9.00,121,4250,20,25,24565
15,16,0,bmw x4,gas,std,4,sedan,rwd,front,103.5,...,209,mpfi,3.62,3.39,8.00,182,5400,16,22,30760
16,17,0,bmw x5,gas,std,2,sedan,rwd,front,103.5,...,209,mpfi,3.62,3.39,8.00,182,5400,16,22,41315
17,18,0,bmw x3,gas,std,4,sedan,rwd,front,110.0,...,209,mpfi,3.62,3.39,8.00,182,5400,15,20,36880
18,19,2,chevrolet impala,gas,std,2,hatchback,fwd,front,88.4,...,61,2bbl,2.91,3.03,9.50,48,5100,47,53,5151
19,20,1,chevrolet monte carlo,gas,std,2,hatchback,fwd,front,94.5,...,90,2bbl,3.03,3.11,9.60,70,5400,38,43,6295
20,21,0,chevrolet vega 2300,gas,std,4,sedan,fwd,front,94.5,...,90,2bbl,3.03,3.11,9.60,70,5400,38,43,6575
21,22,1,dodge rampage,gas,std,2,hatchback,fwd,front,93.7,...,90,2bbl,2.97,3.23,9.41,68,5500,37,41,5572
22,23,1,dodge challenger se,gas,std,2,hatchback,fwd,front,93.7,...,90,2bbl,2.97,3.23,9.40,68,5500,31,38,6377
23,24,1,dodge d200,gas,turbo,2,hatchback,fwd,front,93.7,...,98,mpfi,3.03,3.39,7.60,102,5500,24,30,7957
24,25,1,dodge monaco (sw),gas,std,4,hatchback,fwd,front,93.7,...,90,2bbl,2.97,3.23,9.40,68,5500,31,38,6229
25,26,1,dodge colt hardtop,gas,std,4,sedan,fwd,front,93.7,...,90,2bbl,2.97,3.23,9.40,68,5500,31,38,6692
26,27,1,dodge colt (sw),gas,std,4,sedan,fwd,front,93.7,...,90,2bbl,2.97,3.23,9.40,68,5500,31,38,7609
27,28,1,dodge coronet custom,gas,turbo,2,sedan,fwd,front,93.7,...,98,mpfi,3.03,3.39,7.60,102,5500,24,30,8558
28,29,-1,dodge dart custom,gas,std,4,wagon,fwd,front,103.3,...,122,2bbl,3.34,3.46,8.50,88,5K,24,30,8921
29,30,3,dodge coronet custom (sw),gas,turbo,2,hatchback,fwd,front,95.9,...,156,mfi,3.60,3.90,7.00,145,5K,19,24,12964
30,31,2,honda civic,gas,std,2,hatchback,fwd,front,86.6,...,92,1bbl,2.91,3.41,9.60,58,4800,49,54,6479
31,32,2,honda civic cvcc,gas,std,2,hatchback,fwd,front,86.6,...,92,1bbl,2.91,3.41,9.20,76,6K,31,38,6855
32,33,1,honda civic,gas,std,2,hatchback,fwd,front,93.7,...,79,1bbl,2.91,3.07,10.10,60,5500,38,42,5399
33,34,1,honda accord cvcc,gas,std,2,hatchback,fwd,front,93.7,...,92,1bbl,2.91,3.41,9.20,76,6K,30,34,6529
34,35,1,honda civic cvcc,gas,std,2,hatchback,fwd,front,93.7,...,92,1bbl,2.91,3.41,9.20,76,6K,30,34,7129
35,36,0,honda accord lx,gas,std,4,sedan,fwd,front,96.5,...,92,1bbl,2.91,3.41,9.20,76,6K,30,34,7295
36,37,0,honda civic 1500 gl,gas,std,4,wagon,fwd,front,96.5,...,92,1bbl,2.92,3.41,9.20,76,6K,30,34,7295
37,38,0,honda accord,gas,std,2,hatchback,fwd,front,96.5,...,110,1bbl,3.15,3.58,9.00,86,5800,27,33,7895
38,39,0,honda civic 1300,gas,std,2,hatchback,fwd,front,96.5,...,110,1bbl,3.15,3.58,9.00,86,5800,27,33,9095
39,40,0,honda prelude,gas,std,4,sedan,fwd,front,96.5,...,110,1bbl,3.15,3.58,9.00,86,5800,27,33,8845
40,41,0,honda accord,gas,std,4,sedan,fwd,front,96.5,...,110,1bbl,3.15,3.58,9.00,86,5800,27,33,10295
41,42,0,honda civic,gas,std,4,sedan,fwd,front,96.5,...,110,mpfi,3.15,3.58,9.00,101,5800,24,28,12945
42,43,1,honda civic (auto),gas,std,2,sedan,fwd,front,96.5,...,110,2bbl,3.15,3.58,9.10,100,5500,25,31,10345
43,44,0,isuzu MU-X,gas,std,4,sedan,rwd,front,94.3,...,111,2bbl,3.31,3.23,8.50,78,4800,24,29,6785
44,45,1,isuzu D-Max,gas,std,2,sedan,fwd,front,94.5,...,90,2bbl,3.03,3.11,9.60,70,5400,38,43,8916.5
45,46,0,isuzu D-Max V-Cross,gas,std,4,sedan,fwd,front,94.5,...,90,2bbl,3.03,3.11,9.60,70,5400,38,43,8916.5
46,47,2,isuzu D-Max,gas,std,2,hatchback,rwd,front,96.0,...,119,spfi,3.43,3.23,9.20,90,5K,24,29,11048
47,48,0,jaguar xj,gas,std,4,sedan,rwd,front,113.0,...,258,mpfi,3.63,4.17,8.10,176,4750,15,19,32250
48,49,0,jaguar xf,gas,std,4,sedan,rwd,front,113.0,...,258,mpfi,3.63,4.17,8.10,176,4750,15,19,35550
49,50,0,jaguar xk,gas,std,2,sedan,rwd,front,102.0,...,326,mpfi,3.54,2.76,11.50,262,5K,13,17,36K

In [32]:

df['peak_rpm'].apply(lambda x : (int(x.replace('K', '')) * 1000) if 'K' in x else int(x.replace(',', '')) if ',' in x else int(x))

0      5000
1      5000
2      5000
3      5500
4      5500
       ...
200    5400
201    5300
202    5500
203    4800
204    5400
Name: peak_rpm, Length: 205, dtype: int64

In [33]:
df['peak_rpm'].astype('int')

ValueError: invalid literal for int() with base 10: '5K'

In [ ]:
def clean_peak_rpm(x):
    x = str(x)  # chắc chắn là chuỗi
    if 'K' in x:  # ví dụ "5K" -> 5000
        return int(x.replace('K', '')) * 1000
    if ',' in x:  # ví dụ "1,200" -> 1200
        return int(x.replace(',', ''))
    return int(x)  # bình thường

df['peak_rpm'] = df['peak_rpm'].apply(clean_peak_rpm)
# lúc này df['peak_rpm'] đã là int, hoặc
df['peak_rpm'] = df['peak_rpm'].astype(int)

In [ ]:
df['peak_rpm'].dtype

In [ ]:
df.info

In [ ]:
df.info()

In [ ]:
df.cylinder_number.value_counts()

In [34]:
df.head()

,car_id,symboling,car_name,fuel_type,aspiration,door_number,car_body,drive_wheel,engine_location,wheel_base,...,engine_size,fuel_system,bore_ratio,stroke,compression_ratio,horse_power,peak_rpm,city_mpg,highway_mpg,price
0,1,3,alfa-romero giulia,gas,std,2,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5K,21,27,13495
1,2,3,alfa-romero stelvio,gas,std,2,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5K,21,27,16500
2,3,1,alfa-romero Quadrifoglio,gas,std,2,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5K,19,26,16500
3,4,2,audi 100 ls,gas,std,4,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,5,2,audi 100ls,gas,std,4,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [35]:
df.car_name

0            alfa-romero giulia
1           alfa-romero stelvio
2      alfa-romero Quadrifoglio
3                   audi 100 ls
4                    audi 100ls
                 ...
200             volvo 145e (sw)
201                 volvo 144ea
202                 volvo 244dl
203                   volvo 246
204                 volvo 264gl
Name: car_name, Length: 205, dtype: object

In [36]:
df.car_name[:20]

0           alfa-romero giulia
1          alfa-romero stelvio
2     alfa-romero Quadrifoglio
3                  audi 100 ls
4                   audi 100ls
5                     audi fox
6                   audi 100ls
7                    audi 5000
8                    audi 4000
9          audi 5000s (diesel)
10                    bmw 320i
11                    bmw 320i
12                      bmw x1
13                      bmw x3
14                      bmw z4
15                      bmw x4
16                      bmw x5
17                      bmw x3
18            chevrolet impala
19       chevrolet monte carlo
Name: car_name, dtype: object

In [37]:
df.car_name.apply(lambda x : x.split())

0            [alfa-romero, giulia]
1           [alfa-romero, stelvio]
2      [alfa-romero, Quadrifoglio]
3                  [audi, 100, ls]
4                    [audi, 100ls]
                  ...
200            [volvo, 145e, (sw)]
201                 [volvo, 144ea]
202                 [volvo, 244dl]
203                   [volvo, 246]
204                 [volvo, 264gl]
Name: car_name, Length: 205, dtype: object

In [38]:
df.car_name.apply(lambda x : x.split()[0])
# lấy từ đầu

0      alfa-romero
1      alfa-romero
2      alfa-romero
3             audi
4             audi
          ...
200          volvo
201          volvo
202          volvo
203          volvo
204          volvo
Name: car_name, Length: 205, dtype: object

In [39]:
df['car_company'] = df.car_name.apply(lambda x : x.split()[0])

In [40]:
df['car_company'].value_counts()

car_company
toyota         31
nissan         17
mazda          15
honda          13
mitsubishi     13
subaru         12
peugeot        11
volvo          11
volkswagen      9
dodge           9
buick           8
bmw             8
audi            7
plymouth        7
saab            6
isuzu           4
porsche         4
alfa-romero     3
chevrolet       3
jaguar          3
vw              2
maxda           2
renault         2
toyouta         1
vokswagen       1
Nissan          1
mercury         1
porcshce        1
Name: count, dtype: int64

In [41]:
# có 1 số từ bị sai tôi chỉ cần sử dụng loc

In [42]:
# replacing misspelled car_company names

# volkswagen
df.loc[(df['car_company'] == "vw") | (df['car_company'] == "vokswagen"), 'car_company'] = 'volkswagen'

# porsche
df.loc[df['car_company'] == "porcshce", 'car_company'] = 'porsche'

# toyota
df.loc[df['car_company'] == "toyouta", 'car_company'] = 'toyota'

# nissan
df.loc[df['car_company'] == "Nissan", 'car_company'] = 'nissan'

# mazda
df.loc[df['car_company'] == "maxda", 'car_company'] = 'mazda'

In [43]:
grouped_df = df.groupby('car_name')
grouped_df.groups

{'Nissan versa': [89], 'alfa-romero Quadrifoglio': [2], 'alfa-romero giulia': [0], 'alfa-romero stelvio': [1], 'audi 100 ls': [3], 'audi 100ls': [4, 6], 'audi 4000': [8], 'audi 5000': [7], 'audi 5000s (diesel)': [9], 'audi fox': [5], 'bmw 320i': [10, 11], 'bmw x1': [12], 'bmw x3': [13, 17], 'bmw x4': [15], 'bmw x5': [16], 'bmw z4': [14], 'buick century': [69], 'buick century luxus (sw)': [68], 'buick century special': [73], 'buick electra 225 custom': [67], 'buick opel isuzu deluxe': [71], 'buick regal sport coupe (turbo)': [74], 'buick skyhawk': [70], 'buick skylark': [72], 'chevrolet impala': [18], 'chevrolet monte carlo': [19], 'chevrolet vega 2300': [20], 'dodge challenger se': [22], 'dodge colt (sw)': [26], 'dodge colt hardtop': [25], 'dodge coronet custom': [27], 'dodge coronet custom (sw)': [29], 'dodge d200': [23], 'dodge dart custom': [28], 'dodge monaco (sw)': [24], 'dodge rampage': [21], 'honda accord': [37, 40], 'honda accord cvcc': [33], 'honda accord lx': [35], 'honda civic': [30, 32, 41], 'honda civic (auto)': [42], 'honda civic 1300': [38], 'honda civic 1500 gl': [36], 'honda civic cvcc': [31, 34], 'honda prelude': [39], 'isuzu D-Max ': [44, 46], 'isuzu D-Max V-Cross': [45], 'isuzu MU-X': [43], 'jaguar xf': [48], 'jaguar xj': [47], 'jaguar xk': [49], 'maxda glc deluxe': [51], 'maxda rx3': [50], 'mazda 626': [55, 59, 64], 'mazda glc': [56, 65], 'mazda glc 4': [58], 'mazda glc custom': [61], 'mazda glc custom l': [60], 'mazda glc deluxe': [54, 63], 'mazda rx-4': [53, 62], 'mazda rx-7 gs': [57, 66], 'mazda rx2 coupe': [52], 'mercury cougar': [75], 'mitsubishi g4': [79, 81, 83], 'mitsubishi lancer': [77], 'mitsubishi mirage': [76], 'mitsubishi mirage g4': [80, 84, 88], 'mitsubishi montero': [85], 'mitsubishi outlander': [78, 82, 87], 'mitsubishi pajero': [86], 'nissan clipper': [98, 106], 'nissan dayz': [101], 'nissan fuga': [102], 'nissan gt-r': [90], 'nissan juke': [95], 'nissan kicks': [105], 'nissan latio': [92, 96], 'nissan leaf': [94], 'nissan note': [97], 'nissan nv200': [100], 'nissan otti': [103], 'nissan rogue': [91, 99], 'nissan teana': [104], 'nissan titan': [93], 'peugeot 304': [108], 'peugeot 504': [107, 110, 111, 113, 115, 116], 'peugeot 504 (sw)': [109], 'peugeot 505s turbo diesel': [114], 'peugeot 604sl': [112, 117], 'plymouth cricket': [119], 'plymouth duster': [124], 'plymouth fury gran sedan': [122], 'plymouth fury iii': [118, 120], 'plymouth satellite custom (sw)': [121], 'plymouth valiant': [123], 'porcshce panamera': [126], 'porsche boxter': [128], 'porsche cayenne': [127, 129], 'porsche macan': [125], 'renault 12tl': [130], ...}

In [44]:
grouped_df = df.groupby('car_company')
grouped_df.groups.keys()

dict_keys(['alfa-romero', 'audi', 'bmw', 'buick', 'chevrolet', 'dodge', 'honda', 'isuzu', 'jaguar', 'mazda', 'mercury', 'mitsubishi', 'nissan', 'peugeot', 'plymouth', 'porsche', 'renault', 'saab', 'subaru', 'toyota', 'volkswagen', 'volvo'])

In [45]:
# company_dictionary = {
#                       "vw" : "volkswagen", 
#                       "vokswagen" : "volkswagen", 
#                       "porcshce" : "porsche", 
#                       "toyouta" : "toyota", 
#                       "Nissan" : "nissan",
#                       "maxda" : "mazda"
#                       }
# sử dụng dict 
# df['car_company'].apply(lambda x : company_dictionary[x] if x in company_dictionary.keys() else x).value_counts()

In [46]:
df.car_company.value_counts()

car_company
toyota         32
nissan         18
mazda          17
mitsubishi     13
honda          13
volkswagen     12
subaru         12
peugeot        11
volvo          11
dodge           9
buick           8
bmw             8
audi            7
plymouth        7
saab            6
porsche         5
isuzu           4
jaguar          3
chevrolet       3
alfa-romero     3
renault         2
mercury         1
Name: count, dtype: int64


## Dropping a column

In [47]:
# tôi muốn xóa cột car_name thì dùng axis = 1 thì xóa cột còn axis = 0 thì xoán hàng

df.columns

Index(['car_id', 'symboling', 'car_name', 'fuel_type', 'aspiration',
       'door_number', 'car_body', 'drive_wheel', 'engine_location',
       'wheel_base', 'car_length', 'car_width', 'car_height', 'curb_weight',
       'engine_type', 'cylinder_number', 'engine_size', 'fuel_system',
       'bore_ratio', 'stroke', 'compression_ratio', 'horse_power', 'peak_rpm',
       'city_mpg', 'highway_mpg', 'price', 'car_company'],
      dtype='object')

In [48]:
df.drop('car_name', axis = 1, inplace = True)

In [49]:
df.columns

Index(['car_id', 'symboling', 'fuel_type', 'aspiration', 'door_number',
       'car_body', 'drive_wheel', 'engine_location', 'wheel_base',
       'car_length', 'car_width', 'car_height', 'curb_weight', 'engine_type',
       'cylinder_number', 'engine_size', 'fuel_system', 'bore_ratio', 'stroke',
       'compression_ratio', 'horse_power', 'peak_rpm', 'city_mpg',
       'highway_mpg', 'price', 'car_company'],
      dtype='object')

In [50]:
# tôi muốn chọn chỉ các cột có kiểu dữ liệu cùng nhau
# sử dụng select_dtypes()

In [51]:
# gồm include = "" bao gồm kiểu dữ liệu nào
# exclude = "" ngoại trừ kiểu dữ liệu nào

## Filtering Categorical and Numerical Columns

In [52]:
categorical_df = df.select_dtypes(include = ['object'])

In [53]:
categorical_df.head()

,fuel_type,aspiration,car_body,drive_wheel,engine_location,engine_type,cylinder_number,fuel_system,peak_rpm,price,car_company
0,gas,std,convertible,rwd,front,dohc,four,mpfi,5K,13495,alfa-romero
1,gas,std,convertible,rwd,front,dohc,four,mpfi,5K,16500,alfa-romero
2,gas,std,hatchback,rwd,front,ohcv,six,mpfi,5K,16500,alfa-romero
3,gas,std,sedan,fwd,front,ohc,four,mpfi,5500,13950,audi
4,gas,std,sedan,4wd,front,ohc,five,mpfi,5500,17450,audi

In [54]:
numerical_df = df.select_dtypes(include=['int64', 'float64'])

numerical_df.head()

,car_id,symboling,wheel_base,car_length,car_width,car_height,curb_weight,engine_size,bore_ratio,stroke,compression_ratio,horse_power,city_mpg,highway_mpg
0,1,3,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111,21,27
1,2,3,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111,21,27
2,3,1,94.5,171.2,65.5,52.4,2823,152,2.68,3.47,9.0,154,19,26
3,4,2,99.8,176.6,66.2,54.3,2337,109,3.19,3.40,10.0,102,24,30
4,5,2,99.4,176.6,66.4,54.3,2824,136,3.19,3.40,8.0,115,18,22

In [55]:

print(len(categorical_df.columns))
print(len(numerical_df.columns))

11
14

In [56]:

print(len(df.columns))

26

In [58]:
df.dtypes

car_id                 int64
symboling              int64
fuel_type             object
aspiration            object
door_number            int32
car_body              object
drive_wheel           object
engine_location       object
wheel_base           float64
car_length           float64
car_width            float64
car_height           float64
curb_weight            int64
engine_type           object
cylinder_number       object
engine_size            int64
fuel_system           object
bore_ratio           float64
stroke               float64
compression_ratio    float64
horse_power            int64
peak_rpm              object
city_mpg               int64
highway_mpg            int64
price                 object
car_company           object
dtype: object

In [59]:
for col in df.columns:
    if df[col].dtype == 'int32':
        print(col)

door_number

In [61]:
for col in df.columns:
    if df[col].dtype == 'int32':
        df[col] = df[col].astype('int64')

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   car_id             205 non-null    int64
 1   symboling          205 non-null    int64
 2   fuel_type          205 non-null    object
 3   aspiration         205 non-null    object
 4   door_number        205 non-null    int64
 5   car_body           205 non-null    object
 6   drive_wheel        205 non-null    object
 7   engine_location    205 non-null    object
 8   wheel_base         205 non-null    float64
 9   car_length         205 non-null    float64
 10  car_width          205 non-null    float64
 11  car_height         205 non-null    float64
 12  curb_weight        205 non-null    int64
 13  engine_type        205 non-null    object
 14  cylinder_number    205 non-null    object
 15  engine_size        205 non-null    int64
 16  fuel_system        205 non-null    object
 17  bore_ratio         205 non-null    float64
 18  stroke             205 non-null    float64
 19  compression_ratio  205 non-null    float64
 20  horse_power        205 non-null    int64
 21  peak_rpm           205 non-null    object
 22  city_mpg           205 non-null    int64
 23  highway_mpg        205 non-null    int64
 24  price              205 non-null    object
 25  car_company        205 non-null    object
dtypes: float64(7), int64(8), object(11)
memory usage: 41.8+ KB

In [65]:
df.head()

,car_id,symboling,fuel_type,aspiration,door_number,car_body,drive_wheel,engine_location,wheel_base,car_length,...,fuel_system,bore_ratio,stroke,compression_ratio,horse_power,peak_rpm,city_mpg,highway_mpg,price,car_company
0,1,3,gas,std,2,convertible,rwd,front,88.6,168.8,...,mpfi,3.47,2.68,9.0,111,5K,21,27,13495,alfa-romero
1,2,3,gas,std,2,convertible,rwd,front,88.6,168.8,...,mpfi,3.47,2.68,9.0,111,5K,21,27,16500,alfa-romero
2,3,1,gas,std,2,hatchback,rwd,front,94.5,171.2,...,mpfi,2.68,3.47,9.0,154,5K,19,26,16500,alfa-romero
3,4,2,gas,std,4,sedan,fwd,front,99.8,176.6,...,mpfi,3.19,3.40,10.0,102,5500,24,30,13950,audi
4,5,2,gas,std,4,sedan,4wd,front,99.4,176.6,...,mpfi,3.19,3.40,8.0,115,5500,18,22,17450,audi

In [72]:
grouped_df = df.groupby('price')
grouped_df.groups.keys()

dict_keys(['10198', '10245', '10295', '10345', '10595', '10698', '10795', '10898', '10945', '11048', '11199', '11245', '11248', '11259', '11549', '11595', '11694', '11845', '11850', '11900', '12170', '12290', '12440', '12629', '12764', '12940', '12945', '12964', '13200', '13295', '13415', '13495', '13499', '13645', '13845', '13860', '13950', '14399', '14489', '14869', '15040', '15250', '15510', '15580', '15645', '15690', '15750', '15985', '15998', '16430', '16500', '16503', '16515', '16558', '16630', '16695', '16845', '16900', '16925', '17075', '17199', '17450', '17669', '17710', '17859.167', '17950', '18150', '18280', '18344', '18399', '18420', '18620', '18920', '18950', '19045', '19699', '20970', '21105', '21485', '22018', '22470', '22625', '23875', '24565', '25552', '28176', '28248', '30760', '31400.5', '31600', '32250', '32528', '34028', '34184', '35056', '35550', '36880', '36K', '37028', '40960', '41315', '45400', '5118', '5151', '5195', '5348', '5389', '5399', '5499', '5572', '6095', '6189', '6229', '6295', '6338', '6377', '6479', '6488', '6529', '6575', '6649', '6669', '6692', '6695', '6785', '6795', '6849', '6855', '6918', '6938', '6989', '7053', '7099', '7126', '7129', '7198', '7295', '7299', '7349', '7395', '7463', '7499', '7603', '7609', '7689', '7738', '7775', '7788', '7799', '7895', '7898', '7957', '7975', '7995', '7999', '8013', '8058', '8189', '8195', '8238', '8249', '8358', '8449', '8495', '8499', '8558', '8778', '8845', '8916.5', '8921', '8948', '8949', '9095', '9233', '9258', '9279', '9295', '9298', '9495', '9538', '9549', '9639', '9895', '9959', '9960', '9980', '9988', '9989', '9995'])