In [2]:
import pandas as pd

df = pd.read_csv("C:/Users/Admin/OneDrive - ptit.edu.vn/Desktop/online_store_sales.csv", parse_dates = ["Order Date", "Ship Date"])

In [2]:
df.head(5)

,Order ID,Row ID,Order ID.1,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Unnamed: 19
0,0,1,CA-2017-152156,8/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,NaN
1,1,2,CA-2017-152156,8/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,NaN
2,2,3,CA-2017-138688,12/6/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,NaN
3,3,4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,NaN
4,4,5,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,NaN

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order ID       5 non-null      int64
 1   Row ID         5 non-null      int64
 2   Order ID.1     5 non-null      object
 3   Order Date     5 non-null      datetime64[ns]
 4   Ship Date      5 non-null      object
 5   Ship Mode      5 non-null      object
 6   Customer ID    5 non-null      object
 7   Customer Name  5 non-null      object
 8   Segment        5 non-null      object
 9   Country        5 non-null      object
 10  City           5 non-null      object
 11  State          5 non-null      object
 12  Postal Code    5 non-null      int64
 13  Region         5 non-null      object
 14  Product ID     5 non-null      object
 15  Category       5 non-null      object
 16  Sub-Category   5 non-null      object
 17  Product Name   5 non-null      object
 18  Sales          5 non-null      float64
 19  Unnamed: 19    0 non-null      float64
dtypes: datetime64[ns](1), float64(2), int64(3), object(14)
memory usage: 932.0+ bytes

In [17]:
print(df["ship_date"].dtype)

datetime64[ns]

In [11]:
new_col = [col.strip().lower().replace("-", "_").replace(" ", "_") for col in df.columns]
df.columns = new_col
df.columns

Index(['order_id', 'row_id', 'order_id.1', 'order_date', 'ship_date',
       'ship_mode', 'customer_id', 'customer_name', 'segment', 'country',
       'city', 'state', 'postal_code', 'region', 'product_id', 'category',
       'sub_category', 'product_name', 'sales', 'unnamed:_19'],
      dtype='object')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_id       5 non-null      int64
 1   row_id         5 non-null      int64
 2   order_id.1     5 non-null      object
 3   order_date     5 non-null      datetime64[ns]
 4   ship_date      5 non-null      object
 5   ship_mode      5 non-null      object
 6   customer_id    5 non-null      object
 7   customer_name  5 non-null      object
 8   segment        5 non-null      object
 9   country        5 non-null      object
 10  city           5 non-null      object
 11  state          5 non-null      object
 12  postal_code    5 non-null      int64
 13  region         5 non-null      object
 14  product_id     5 non-null      object
 15  category       5 non-null      object
 16  sub_category   5 non-null      object
 17  product_name   5 non-null      object
 18  sales          5 non-null      float64
 19  unnamed:_19    0 non-null      float64
dtypes: datetime64[ns](1), float64(2), int64(3), object(14)
memory usage: 932.0+ bytes

In [14]:
df["ship_date"] = pd.to_datetime(df["ship_date"][0]) # thêm [0]

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_id       5 non-null      int64
 1   row_id         5 non-null      int64
 2   order_id.1     5 non-null      object
 3   order_date     5 non-null      datetime64[ns]
 4   ship_date      5 non-null      datetime64[ns]
 5   ship_mode      5 non-null      object
 6   customer_id    5 non-null      object
 7   customer_name  5 non-null      object
 8   segment        5 non-null      object
 9   country        5 non-null      object
 10  city           5 non-null      object
 11  state          5 non-null      object
 12  postal_code    5 non-null      int64
 13  region         5 non-null      object
 14  product_id     5 non-null      object
 15  category       5 non-null      object
 16  sub_category   5 non-null      object
 17  product_name   5 non-null      object
 18  sales          5 non-null      float64
 19  unnamed:_19    0 non-null      float64
dtypes: datetime64[ns](2), float64(2), int64(3), object(13)
memory usage: 932.0+ bytes

## Groupby the Data on the basis of Product Category

In [20]:
group_df = df.groupby("category")
group_df.groups

{'Furniture': [0, 1, 3], 'Office Supplies': [2, 4]}

In [21]:
# nó sẽ tạo ra cặp key values

## Get unique group Keys

In [23]:
group_df.groups.keys() # trong chỗ category chỉ có

dict_keys(['Furniture', 'Office Supplies'])

In [24]:
# Furniture và Office Supplies

In [28]:
# tôi chỉ muons lấy finiture
group_df.get_group("Furniture")
# nó sẽ gióng df.head() nhưng nó chỉ hiện ra furniture

,order_id,row_id,order_id.1,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,state,postal_code,region,product_id,category,sub_category,product_name,sales,unnamed:_19
0,0,1,CA-2017-152156,2017-08-11,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,NaN
1,1,2,CA-2017-152156,2017-08-11,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,NaN
3,3,4,US-2016-108966,2016-11-10,2017-11-11,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,NaN

In [29]:
# ví dụ tôi có 2 loại là furniture và Office Supplies

In [30]:
# tôi muốn in ra 2 loại đầu tiên của 2 laoij trên

## return first row, lastrow and nth row for each group

In [31]:
group_df.first()

,order_id,row_id,order_id.1,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,state,postal_code,region,product_id,sub_category,product_name,sales,unnamed:_19
category,,,,,,,,,,,,,,,,,,,
Furniture,0,1,CA-2017-152156,2017-08-11,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Bookcases,Bush Somerset Collection Bookcase,261.96,NaN
Office Supplies,2,3,CA-2017-138688,2017-12-06,2017-11-11,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036,West,OFF-LA-10000240,Labels,Self-Adhesive Address Labels for Typewriters b...,14.62,NaN

In [32]:
group_df.last()

,order_id,row_id,order_id.1,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,state,postal_code,region,product_id,sub_category,product_name,sales,unnamed:_19
category,,,,,,,,,,,,,,,,,,,
Furniture,3,4,US-2016-108966,2016-11-10,2017-11-11,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,FUR-TA-10000577,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,NaN
Office Supplies,4,5,US-2016-108966,2016-11-10,2017-11-11,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,OFF-ST-10000760,Storage,Eldon Fold 'N Roll Cart System,22.3680,NaN

In [33]:
group_df.nth(1) # layas vị trị thứ 1

,order_id,row_id,order_id.1,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,state,postal_code,region,product_id,category,sub_category,product_name,sales,unnamed:_19
1,1,2,CA-2017-152156,2017-08-11,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.940,NaN
4,4,5,US-2016-108966,2016-11-10,2017-11-11,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.368,NaN

In [34]:
# bên trên là chỉ gộp 1 tiêu đề

## Grouping the Data Based on Product Category and Sub-Category

In [35]:
grouped_df = df.groupby(['category', 'sub_category'])

In [36]:
grouped_df.groups

{('Furniture', 'Bookcases'): [0], ('Furniture', 'Chairs'): [1], ('Furniture', 'Tables'): [3], ('Office Supplies', 'Labels'): [2], ('Office Supplies', 'Storage'): [4]}

In [37]:
grouped_df.groups.keys()

dict_keys([('Furniture', 'Bookcases'), ('Furniture', 'Chairs'), ('Furniture', 'Tables'), ('Office Supplies', 'Labels'), ('Office Supplies', 'Storage')])

In [38]:
grouped_df.groups.values()

dict_values([Index([0], dtype='int64'), Index([1], dtype='int64'), Index([3], dtype='int64'), Index([2], dtype='int64'), Index([4], dtype='int64')])

In [48]:
grouped_df.get_group(("Furniture", "Chairs"))
# khôn ghải get_group là lấy furniture và chairs của Category 
# mà là lấy furniture của category
# và chairs của sub_catergory

,order_id,row_id,order_id.1,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,state,postal_code,region,product_id,category,sub_category,product_name,sales,unnamed:_19
1,1,2,CA-2017-152156,2017-08-11,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,NaN

In [43]:
grouped_df.get_group(('Technology', 'Phones'))

KeyError: ('Technology', 'Phones')

In [49]:
grouped_df.first()

                              order_id  row_id      order_id.1 order_date  \
category        sub_category
Furniture       Bookcases            0       1  CA-2017-152156 2017-08-11
                Chairs               1       2  CA-2017-152156 2017-08-11
                Tables               3       4  US-2016-108966 2016-11-10
Office Supplies Labels               2       3  CA-2017-138688 2017-12-06
                Storage              4       5  US-2016-108966 2016-11-10

                              ship_date       ship_mode customer_id  \
category        sub_category
Furniture       Bookcases    2017-11-11    Second Class    CG-12520
                Chairs       2017-11-11    Second Class    CG-12520
                Tables       2017-11-11  Standard Class    SO-20335
Office Supplies Labels       2017-11-11    Second Class    DV-13045
                Storage      2017-11-11  Standard Class    SO-20335

                                customer_name    segment        country  \
category        sub_category
Furniture       Bookcases         Claire Gute   Consumer  United States
                Chairs            Claire Gute   Consumer  United States
                Tables         Sean O'Donnell   Consumer  United States
Office Supplies Labels        Darrin Van Huff  Corporate  United States
                Storage        Sean O'Donnell   Consumer  United States

                                         city       state  postal_code region  \
category        sub_category
Furniture       Bookcases           Henderson    Kentucky        42420  South
                Chairs              Henderson    Kentucky        42420  South
                Tables        Fort Lauderdale     Florida        33311  South
Office Supplies Labels            Los Angeles  California        90036   West
                Storage       Fort Lauderdale     Florida        33311  South

                                   product_id  \
category        sub_category
Furniture       Bookcases     FUR-BO-10001798
                Chairs        FUR-CH-10000454
                Tables        FUR-TA-10000577
Office Supplies Labels        OFF-LA-10000240
                Storage       OFF-ST-10000760

                                                                   product_name  \
category        sub_category
Furniture       Bookcases                     Bush Somerset Collection Bookcase
                Chairs        Hon Deluxe Fabric Upholstered Stacking Chairs,...
                Tables            Bretford CR4500 Series Slim Rectangular Table
Office Supplies Labels        Self-Adhesive Address Labels for Typewriters b...
                Storage                          Eldon Fold 'N Roll Cart System

                                 sales  unnamed:_19
category        sub_category
Furniture       Bookcases     261.9600          NaN
                Chairs        731.9400          NaN
                Tables        957.5775          NaN
Office Supplies Labels         14.6200          NaN
                Storage        22.3680          NaN

# Split-apply-combine
## Split
## Apply
## Combine

## Aggreation

## Built-in Aggregation Methods

In [50]:
# Method	Description
# any()	Compute whether any of the values in the groups are truthy
# all()	Compute whether all of the values in the groups are truthy
# count()	Compute the number of non-NA values in the groups
# cov() *	Compute the covariance of the groups
# first()	Compute the first occurring value in each group
# idxmax() *	Compute the index of the maximum value in each group
# idxmin() *	Compute the index of the minimum value in each group
# last()	Compute the last occurring value in each group
# max()	Compute the maximum value in each group
# mean()	Compute the mean of each group
# median()	Compute the median of each group
# min()	Compute the minimum value in each group
# nunique()	Compute the number of unique values in each group
# prod()	Compute the product of the values in each group
# quantile()	Compute a given quantile of the values in each group
# sem()	Compute the standard error of the mean of the values in each group
# size()	Compute the number of values in each group
# skew() *	Compute the skew of the values in each group
# std()	Compute the standard deviation of the values in each group
# sum()	Compute the sum of the values in each group
# var()	Compute the variance of the values in each group

In [52]:
grouped_df = df.groupby("category")

In [53]:
grouped_df.groups

{'Furniture': [0, 1, 3], 'Office Supplies': [2, 4]}

In [55]:
# count()
grouped_df["category"].count()

category
Furniture          3
Office Supplies    2
Name: category, dtype: int64

In [56]:
# min, max

In [57]:
grouped_df["sales"].max()

category
Furniture          957.5775
Office Supplies     22.3680
Name: sales, dtype: float64

In [58]:
grouped_df['sales'].mean()

category
Furniture          650.4925
Office Supplies     18.4940
Name: sales, dtype: float64

In [59]:
group_df = df.groupby(['category', 'sub_category'])

In [61]:
group_df['sub_category'].count()

category         sub_category
Furniture        Bookcases       1
                 Chairs          1
                 Tables          1
Office Supplies  Labels          1
                 Storage         1
Name: sub_category, dtype: int64

In [62]:
group_df['category'].count()

category         sub_category
Furniture        Bookcases       1
                 Chairs          1
                 Tables          1
Office Supplies  Labels          1
                 Storage         1
Name: category, dtype: int64

In [63]:
group_df["sales"].min()

category         sub_category
Furniture        Bookcases       261.9600
                 Chairs          731.9400
                 Tables          957.5775
Office Supplies  Labels           14.6200
                 Storage          22.3680
Name: sales, dtype: float64

In [64]:
# sử dụng idxmaxx, idx min
group_df['sales'].idxmax() # trả về vị trí

category         sub_category
Furniture        Bookcases       0
                 Chairs          1
                 Tables          3
Office Supplies  Labels          2
                 Storage         4
Name: sales, dtype: int64

In [66]:
df.loc[2]

order_id                                                         2
row_id                                                           3
order_id.1                                          CA-2017-138688
order_date                                     2017-12-06 00:00:00
ship_date                                      2017-11-11 00:00:00
ship_mode                                             Second Class
customer_id                                               DV-13045
customer_name                                      Darrin Van Huff
segment                                                  Corporate
country                                              United States
city                                                   Los Angeles
state                                                   California
postal_code                                                  90036
region                                                        West
product_id                                         OFF-LA-10000240
category                                           Office Supplies
sub_category                                                Labels
product_name     Self-Adhesive Address Labels for Typewriters b...
sales                                                        14.62
unnamed:_19                                                    NaN
Name: 2, dtype: object

## Aggregation With User-Defined Functions

In [70]:
group_df['sales'].agg(["min", "mean", "max"])
# tạo bảng với các ggias trị 
# cũng na ná giống describe() nhưng tôi chỉ cần lấy nhuwnxg thuộc tính cần thiết

                                   min      mean       max
category        sub_category
Furniture       Bookcases     261.9600  261.9600  261.9600
                Chairs        731.9400  731.9400  731.9400
                Tables        957.5775  957.5775  957.5775
Office Supplies Labels         14.6200   14.6200   14.6200
                Storage        22.3680   22.3680   22.3680

In [69]:
group_df.describe()

                             order_id                                    \
                                count mean  min  25%  50%  75%  max std
category        sub_category
Furniture       Bookcases         1.0  0.0  0.0  0.0  0.0  0.0  0.0 NaN
                Chairs            1.0  1.0  1.0  1.0  1.0  1.0  1.0 NaN
                Tables            1.0  3.0  3.0  3.0  3.0  3.0  3.0 NaN
Office Supplies Labels            1.0  2.0  2.0  2.0  2.0  2.0  2.0 NaN
                Storage           1.0  4.0  4.0  4.0  4.0  4.0  4.0 NaN

                             row_id       ...     sales     unnamed:_19       \
                              count mean  ...       max std       count mean
category        sub_category              ...
Furniture       Bookcases       1.0  1.0  ...  261.9600 NaN         0.0  NaN
                Chairs          1.0  2.0  ...  731.9400 NaN         0.0  NaN
                Tables          1.0  4.0  ...  957.5775 NaN         0.0  NaN
Office Supplies Labels          1.0  3.0  ...   14.6200 NaN         0.0  NaN
                Storage         1.0  5.0  ...   22.3680 NaN         0.0  NaN


                             min 25% 50% 75% max std
category        sub_category
Furniture       Bookcases    NaN NaN NaN NaN NaN NaN
                Chairs       NaN NaN NaN NaN NaN NaN
                Tables       NaN NaN NaN NaN NaN NaN
Office Supplies Labels       NaN NaN NaN NaN NaN NaN
                Storage      NaN NaN NaN NaN NaN NaN

[5 rows x 56 columns]

In [71]:
group_df["sales"].min() # tôi có thể dùng lambda

category         sub_category
Furniture        Bookcases       261.9600
                 Chairs          731.9400
                 Tables          957.5775
Office Supplies  Labels           14.6200
                 Storage          22.3680
Name: sales, dtype: float64

In [72]:
group_df['sales'].agg(lambda values: min(values))

category         sub_category
Furniture        Bookcases       261.9600
                 Chairs          731.9400
                 Tables          957.5775
Office Supplies  Labels           14.6200
                 Storage          22.3680
Name: sales, dtype: float64

## Applying different aggregation Functions to DataFrame columns

In [75]:
group_df.agg({'order_date':['min', 'max'], 'sales':['mean','std']})

                             order_date                sales
                                    min        max      mean std
category        sub_category
Furniture       Bookcases    2017-08-11 2017-08-11  261.9600 NaN
                Chairs       2017-08-11 2017-08-11  731.9400 NaN
                Tables       2016-11-10 2016-11-10  957.5775 NaN
Office Supplies Labels       2017-12-06 2017-12-06   14.6200 NaN
                Storage      2016-11-10 2016-11-10   22.3680 NaN

In [76]:
group_df['sales'].mean()

category         sub_category
Furniture        Bookcases       261.9600
                 Chairs          731.9400
                 Tables          957.5775
Office Supplies  Labels           14.6200
                 Storage          22.3680
Name: sales, dtype: float64

## Sử dụng filter

In [78]:
group_df.filter(lambda group : group['sales'].mean() >300
               )

,order_id,row_id,order_id.1,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,state,postal_code,region,product_id,category,sub_category,product_name,sales,unnamed:_19
1,1,2,CA-2017-152156,2017-08-11,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,NaN
3,3,4,US-2016-108966,2016-11-10,2017-11-11,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,NaN

## Built-in Transformation

In [3]:
import pandas as pd

df = pd.read_csv("C:/Users/Admin/OneDrive - ptit.edu.vn/Desktop/online_store_sales.csv")

In [99]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order ID       5 non-null      int64
 1   Row ID         5 non-null      int64
 2   Order ID.1     5 non-null      object
 3   Order Date     5 non-null      object
 4   Ship Date      5 non-null      object
 5   Ship Mode      5 non-null      object
 6   Customer ID    5 non-null      object
 7   Customer Name  5 non-null      object
 8   Segment        5 non-null      object
 9   Country        5 non-null      object
 10  City           5 non-null      object
 11  State          5 non-null      object
 12  Postal Code    5 non-null      int64
 13  Region         5 non-null      object
 14  Product ID     5 non-null      object
 15  Category       5 non-null      object
 16  Sub-Category   5 non-null      object
 17  Product Name   5 non-null      object
 18  Sales          5 non-null      float64
 19  Unnamed: 19    0 non-null      float64
dtypes: float64(2), int64(3), object(15)
memory usage: 932.0+ bytes

In [84]:
# What comes to my mind immediately after looking at the dataset?

# 1What are the different customer segments?
# 2How many sales records do we have in the dataset?
# 3What are the different product categories?
# 4How many days on average it takes for the products to get shipped?
# 5Are there more orders placed on weekends?
# 6What is the minimum order amount and maximum order amount?
# 7Which customer contributed to the maximum revenue in 2017 and how much?
# 8What is the revenue generated in the year 2017?
# 9Which region recorded maximum sales count?
# 10Which product category is doing best? (revenue and count)

In [85]:
# Câu 1

In [88]:
col_names = [ col.strip().lower().replace(' ', '_').replace('-', '_') for col in df.columns ]

df.columns = col_names

df.columns

Index(['order_id', 'row_id', 'order_id.1', 'order_date', 'ship_date',
       'ship_mode', 'customer_id', 'customer_name', 'segment', 'country',
       'city', 'state', 'postal_code', 'region', 'product_id', 'category',
       'sub_category', 'product_name', 'sales', 'unnamed:_19'],
      dtype='object')

## 1. What are the different customer segments?

In [87]:
print("Customer segments: ", df['segment'].unique())

Customer segments:  ['Consumer' 'Corporate']

## 2. How many sales records do we have in the dataset?

In [89]:
print("Total Sales Record: " , df.shape[0])

Total Sales Record:  5

## 3. What are the differnt product categories?

In [92]:
print("product categories: " , df['category'].unique())

product categories:  ['Furniture' 'Office Supplies']

## 4.How many days on average it takes for the products to get shipped?

In [148]:


df['Ship Date'] = pd.to_datetime(df['Ship Date'])
df['Order Date'] = pd.to_datetime(df['Order Date'])
print(df['Ship Date'].dtype)
print(df['Order Date'].dtype)

df['ship_time'] = (df['Ship Date'] - df['Order Date'])
df['ship_time'].dt.days

datetime64[ns]
datetime64[ns]

AttributeError: Can only use .dt accessor with datetimelike values

In [133]:
df.head()

,Order ID,Row ID,Order ID.1,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,...,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Unnamed: 19,ship_time
0,0,1,CA-2017-152156,2017-08-11,2017-08-11,Second Class,CG-12520,Claire Gute,Consumer,United States,...,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,NaN,0
1,1,2,CA-2017-152156,2017-08-11,2017-08-11,Second Class,CG-12520,Claire Gute,Consumer,United States,...,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,NaN,0
2,2,3,CA-2017-138688,2017-08-11,2017-08-11,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,...,California,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,NaN,0
3,3,4,US-2016-108966,2017-08-11,2017-08-11,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,...,Florida,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,NaN,0
4,4,5,US-2016-108966,2017-08-11,2017-08-11,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,...,Florida,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,NaN,0

dtype('int64')

In [4]:
df["ship_time"] = ( df["Order Date"] - df['Ship Date']  ).dt.days
df.head()

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [7]:
df['Order Date'] =pd.to_datetime( df['Order Date'])

In [8]:
col_names = [ col.strip().lower().replace(' ', '_').replace('-', '_') for col in df.columns ]

df.columns = col_names

df.columns

Index(['order_id', 'row_id', 'order_id.1', 'order_date', 'ship_date',
       'ship_mode', 'customer_id', 'customer_name', 'segment', 'country',
       'city', 'state', 'postal_code', 'region', 'product_id', 'category',
       'sub_category', 'product_name', 'sales', 'unnamed:_19'],
      dtype='object')

In [9]:
df.columns

Index(['order_id', 'row_id', 'order_id.1', 'order_date', 'ship_date',
       'ship_mode', 'customer_id', 'customer_name', 'segment', 'country',
       'city', 'state', 'postal_code', 'region', 'product_id', 'category',
       'sub_category', 'product_name', 'sales', 'unnamed:_19'],
      dtype='object')

## 5. Are there more orders placed on weekends?

In [10]:
df['order_date'].dt.day_name() # hiện ra các ngyaf trong tuần

0       Friday
1       Friday
2    Wednesday
3     Thursday
4     Thursday
Name: order_date, dtype: object

In [14]:
df['week_day'] = df['order_date'].dt.day_name()
df['week_day'].value_counts()

week_day
Friday       2
Thursday     2
Wednesday    1
Name: count, dtype: int64

In [16]:
grouped_df = df.groupby("week_day")
grouped_df.groups

{'Friday': [0, 1], 'Thursday': [3, 4], 'Wednesday': [2]}

In [17]:
grouped_df['week_day'].count().sort_values(ascending = False)

week_day
Friday       2
Thursday     2
Wednesday    1
Name: week_day, dtype: int64

In [18]:
# sum
grouped_df['sales'].sum().sort_values(ascending=False)

week_day
Friday       993.9000
Thursday     979.9455
Wednesday     14.6200
Name: sales, dtype: float64

## 6. What is the minumum order amount and maximum order amount?

In [19]:
df.head()

,order_id,row_id,order_id.1,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,...,state,postal_code,region,product_id,category,sub_category,product_name,sales,unnamed:_19,week_day
0,0,1,CA-2017-152156,2017-08-11,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,...,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,NaN,Friday
1,1,2,CA-2017-152156,2017-08-11,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,...,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,NaN,Friday
2,2,3,CA-2017-138688,2017-12-06,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,...,California,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,NaN,Wednesday
3,3,4,US-2016-108966,2016-11-10,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,...,Florida,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,NaN,Thursday
4,4,5,US-2016-108966,2016-11-10,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,...,Florida,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,NaN,Thursday

In [24]:
group_df = df.groupby("order_id.1")

In [25]:
print("Minimum Order Amount: ", group_df["sales"].min())
print("Maximum Order Amount: ", group_df["sales"].max())

Minimum Order Amount:  order_id.1
CA-2017-138688     14.620
CA-2017-152156    261.960
US-2016-108966     22.368
Name: sales, dtype: float64
Maximum Order Amount:  order_id.1
CA-2017-138688     14.6200
CA-2017-152156    731.9400
US-2016-108966    957.5775
Name: sales, dtype: float64

In [26]:
# tôi lấy được dữ liệu và tôi muốn dứa nó vào bảng
order_df = grouped_df['sales'].sum()

order_df = order_df.reset_index()

order_df.head()

    week_day     sales
0     Friday  993.9000
1   Thursday  979.9455
2  Wednesday   14.6200

## 7. What is the revenue generated in the year 2017?

In [27]:
df['order_year'] = df['order_date'].dt.year

In [28]:
df.loc[df['order_year'] == 2017, 'sales'].sum()

1008.5200000000001

In [30]:
# cách 2 sử dụng groupby order_year nó không chỉ hiện 2017 nó còn hiện các năm
grouped_df = df.groupby(['order_year'])

grouped_df['sales'].sum()

order_year
2016     979.9455
2017    1008.5200
Name: sales, dtype: float64

## 8. Which Customer contributed to the maximum revenue in 2017 and how much

In [32]:
grouped_df = df.groupby(['order_year', 'customer_id'])
grouped_df['sales'].sum()

order_year  customer_id
2016        SO-20335       979.9455
2017        CG-12520       993.9000
            DV-13045        14.6200
Name: sales, dtype: float64

In [34]:
# method 2 
sale_2017 = grouped_df['sales'].sum()
sale_2017

order_year  customer_id
2016        SO-20335       979.9455
2017        CG-12520       993.9000
            DV-13045        14.6200
Name: sales, dtype: float64

In [36]:
sale_2017.loc[2017].max()

993.9000000000001

In [37]:
sale_2017.loc[2017].sort_values()

customer_id
DV-13045     14.62
CG-12520    993.90
Name: sales, dtype: float64

## 9. Who is the customer with custome_id == TC-20980

In [39]:
df.loc[(df.customer_id == 'TC-20980') , ['order_date', 'customer_name', 'city', 'state', 'postal_code']]

Empty DataFrame
Columns: [order_date, customer_name, city, state, postal_code]
Index: []

## 10.Which region recorded maximym sales count?

In [41]:
df.region.value_counts()

region
South    4
West     1
Name: count, dtype: int64

In [42]:
# method2 - using split and aggreation
grouped_df = df.groupby("region")

grouped_df['sales'].count()

region
South    4
West     1
Name: sales, dtype: int64

In [43]:
grouped_df['sales'].sum()

region
South    1973.8455
West       14.6200
Name: sales, dtype: float64

## 11.which Product category is doing best?

In [44]:
grouped_df = df.groupby('category')

grouped_df['sales'].count()

category
Furniture          3
Office Supplies    2
Name: sales, dtype: int64

In [45]:
grouped_df['sales'].sum()

category
Furniture          1951.4775
Office Supplies      36.9880
Name: sales, dtype: float64

# Analysing and Summarizing using pivot_tables()

In [46]:
# pd.pivot_table(
#     data,
#     values=None,
#     index=None,
#     columns=None,
#     aggfunc='mean',
#     fill_value=None,
#     margins=False
# )

In [48]:
df.pivot_table(values = "sales", index = ["region"], aggfunc = "sum", margins = True)

            sales
region
South   1973.8455
West      14.6200
All     1988.4655

In [49]:
df.pivot_table(values="sales", 
               index=["region"],
               margins=True, 
               aggfunc="sum").round(2)

          sales
region
South   1973.85
West      14.62
All     1988.47

In [51]:
df.pivot_table(values="sales", 
               index=["region"], 
               aggfunc="sum").apply(lambda values: values*100/sum(values))

           sales
region
South   99.26476
West     0.73524

## 12.What is the region-wise count of sales?

In [53]:
df.pivot_table(values = "sales", index = ["region"], aggfunc = "count")

        sales
region
South       4
West        1

## 13. What is the region-wise revenue generated of each product category

In [54]:
df.pivot_table(values="sales", 
               index=["region"], 
               columns=["category"], 
               aggfunc="sum")

category  Furniture  Office Supplies
region
South     1951.4775           22.368
West            NaN           14.620

In [55]:
# ngược index columns

In [56]:
df.pivot_table(values="sales", 
               index=["category"], 
               columns=["region"], 
               aggfunc="sum")

region               South   West
category
Furniture        1951.4775    NaN
Office Supplies    22.3680  14.62